.generate-seo-button {
    background-color: #0071c4;
    border-color: #0071c4;
    color: white !important;
}

.generate-seo-button:hover {
    background-color: #005b9e;
    border-color: #005491;    
}

.generate-seo-button:focus,
.generate-seo-button:active,
.generate-seo-button:disabled {
    background-color: #005b9e;
    border-color: #005491;
    outline-color: #29abe2;
}